<title>UPPY CHESS</title>
<div class="main-body">
  <h1 class="page-title">UPPY CHESS</h1>

  <div>
    <iframe src="https://dl.dropboxusercontent.com/u/4585058/GAC/Demo/GAC3DDemo/index.html" name="UPPY CHESS" id="main-iframe" scrolling="no"></iframe>
  </div>

  <div id="button-section">
    <button class="btn btn-primary action-button" id="send-button">Send Data</button>
    <button class="btn btn-warning action-button" id="read-button">Read Data</button>
  </div>

  <div id="input-section">
      <input type="text" class="info-input form-control" placeholder="Enter data to send" id="send-data-input" (click)="sendData()">
      <input type="text" class="info-input form-control" placeholder="Enter receiver's public key" id="receiver-input" (click)="readData()">
  </div>

  <div>
      <span class="info-span"> Public Key: </span> <span class="data-span" id="public-key-span"> {{publicKey}}</span> <span class="info-span"> Private Key: </span> <span class="data-span" id="private-key-span"> {{privateKey}}</span>
  </div>

  <div>
    <span>Data Received: </span> <span class="data-span">{{receivedData}}</span>
  </div>

</div>
